*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/goSellSDKSample
/.idea/caches/gradle_models.ser
/.idea/codeStyles
/.idea/caches
/.idea/caches/build_file_checksums.ser
