*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches
.idea/codeStyles/Project.xml
library/src/main/java/company/tap/gosellapi/internal/StagingURL.java
.idea/vcs.xml
.idea/dictionaries
/.idea/vcs.xml___jb_old___
